@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);

body { margin: 20px auto; width: 90%; background-color:#FFFFFF;}

a { text-decoration: none; color: #8FB9BA; font-family: 'Gentium Basic', serif;}
a:hover { text-decoration: underline; }

h1 {color:#8FB9BA;}
p, u1, h2, h3, h4, nav u1 {color:#000000;text-align: left;}
p, ul { font-size: 1.5em; font-family: 'Gentium Basic', serif; text-align: left;}

h1, h2, h3, h4, title { font-family: 'Lato', sans-serif; text-align: left; line-height: 6px;}
h1 { font-size: 3em;  text-align: left;}
h2 { font-size: 2.7em; text-align: left;}
h3 { font-size: 2.3em; text-align: left;}
h4 { font-size: 1.3em; text-align: left;}

pre {  
	font-family			: monaco, "Courier New", Courier, monospace; 
	font-size			: 11px; 
	line-height			: normal; 
	color: #000000;
	text-align: left;
}
pre.code { clear: both; margin-top: 10px; }

nav ul, footer ul { font-size: 1em; font-family: 'Lato', sans-serif; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; font-family: 'Gentium Basic', serif;}
ul.posts li { list-style: none; }

/* Sidebar */
.top {
	position:absolute;
	left:30; right:430;
	height: 80px;	
}
.sidebar {
	position:absolute;
	left:0; top:80px; bottom: 0;
	width: 400px;
	overflow:auto;
    }
.main {
	position: absolute;
	left:430px; top:80px; right:0; bottom:0;
	overflow:auto;
    }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; font-family: 'Gentium Basic', serif;}
.cv h2 { font-size: 2em; font-family: 'Gentium Basic', serif;}
.cv address, .cv .download { font-family: font-family: 'Gentium Basic', serif; }
.cv address, .cv p { font-size: 1.2em; font-family: 'Gentium Basic', serif;}
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
