input, button, textarea {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
  font-family: 'Gentium Basic', serif;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1rem;
  width: 60%;
}

button {
  width: 30%;
}

textarea { 
  resize: none; 
}

div.form {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: inline;
    text-align: left;
}