<!DOCTYPE html>
<html>
  <head>
    <title>Emeline Liu</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav>
	<u1>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/resume">Resume</a></li>
		<li><a href="/blog">Blog</a></li>
	</u1>
	</nav>
	
	<div class="container">
	<div class="blurb">
		<h1>My name is Emeline Liu.</h1>
			<p>Data analyst, Processing enthusiast, web development amateur, semi-reluctant Crossfitter</p>
	</div>
	</div>
	
	<footer>
	<u1>
		<li><a href="mailto:emeline.liu@gmail.com">Email</a></li>
		<li><a href="https:github.com/emelinemeline.github.io">GitHub</a></li>
		<li><a href="http:www.linkedin.com/in/emelineliu">LinkedIn</a></li>
	</u1>
	</footer>
  </body>
</html>
