<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	{% include google_analytics.html %}
	<body>

		<div class="container content">
			<header class="masthead">
			<h1 class="masthead-title">
			<a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
			{% for page in site.pages_list %}
				&nbsp;&nbsp;&nbsp;<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
			{% endfor %}
			</h1>
			<canvas width="1200px" height="100px" data-processing-sources="/sketches/banner/banner.pde"></canvas>
			</header>
			
			<main>
			{{ content }}
			{% include disqus.html %}
			</main>

		</div>

	</body>
{% include footer.html %}
</html>
