<!DOCTYPE html>
<html>
  <head>
    <title>{{ page title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav>
	<u1>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/resume">Resume</a></li>
		<li><a href="/blog">Blog</a></li>
	</u1>
	</nav>
	
	<div class="container">
		{{ container }}
	</div>
	
	<footer>
	<u1>
		<p><a href="mailto:emeline.liu@gmail.com">Email</a></p>
		<p><a href="http://github.com/emelinemeline">GitHub</a></p>
		<p><a href="http://www.linkedin.com/in/emelineliu">LinkedIn</a></p>
	</u1>
	</footer>
  </body>
</html>
